
<div id="main">
  <div id="top-content"><!-- Personal information  -->
    <div class="photo-shaddow">
      <div class="photo-holder"><%= image_tag "me.jpg", :alt => "Robert Boone" %></div>
    </div>
    <h1><%= @profile.name %></h1>
    <h3> <%= @profile.title %></h3>
    <p class="top-description">
      <%= @profile.summary %>
    </p>

    <h4 class="address"> <%= @profile.street %> </h4>
    <h4 class="phone"> <%= @profile.phone %> </h4>
    <h4 class="mail"><a href="mailto:<%= @profile.email %>"><%= @profile.email %> </a></h4>
	<h4><a href="http://coderwall.com/rlb3"><img alt="Endorse rlb3 on Coderwall" src="http://api.coderwall.com/rlb3/endorsecount.png" /></a></h4>

    <ul class="controls">
      <li class="print" title="Print Resume"><a id="print" href="#">&nbsp;</a></li>
      <li class="mail-top" title="Contact Me"><a id="contact-me" href="#contact-div">&nbsp;</a></li>
      <!-- tooltip -->
      <li id="tooltip" class="inactive"><b></b></li>
    </ul>
  </div><!-- end of personal informations ( fixed ) -->


  <!-- Begin Middle content -->
  <div id="middle-content">
    <div class="hr">&nbsp;</div>

    <!-- Begin of Technical Skills -->
    <h2>Technical Skills</h2>
    <ul class="list">
      <li class="arrow-up">&nbsp;</li>
      <% @technical_skills.each do |skill| %>
      <li>

        <h3><%= skill.technology %> </h3>  <h5> <%= skill.years %> </h5>
        <p class="description">
          <%= skill.description %>
        </p>
      </li>
      <% end %>
    </ul><!-- End of Technical Skills -->


    <!-- Begin of Education -->
    <h2>Education &amp; Training </h2>
    <ul class="list">
      <li class="arrow-up">&nbsp;</li>
      <% @education.each do |edu| %>
      <li>
        <h3> <%= edu.name %> </h3>  <h5> <%= edu.year %> </h5>
        <div class="description">
          <%= edu.description %>
          <ol>
            <% edu.education_items.each do |item| %>
            <li><%= item.item %></li>
            <% end %>
          </ol>
        </div>
      </li>
      <% end %>
    </ul>
    <!-- End of Education -->

    <!-- Begin of Work experience -->
    <h2>Work experience </h2>
    <ul class="list">
      <li class="arrow-up">&nbsp;</li>
      <% @work.each do |work| %>
      <li>
        <h3> <%= work.title %> </h3>  <h5> <%= work.year %> </h5>
        <h6> <%= work.sub_title %> </h6>
        <p class="description">
          <%= work.description %>
        </p>
        <ol>
          <% work.work_items.each do |item| %>
          <li><%= item.item %></li>
          <% end %>
        </ol>
      </li>
      <% end %>
    </ul>
    <!-- End of Work experience -->

    <!-- Begin of get in touch -->
    <h2 id="get_in_touch">Get in touch !</h2>
    <ul class="list">
      <li class="arrow-up">&nbsp;</li>
      <li>
        <ul id="social">
          <li id="RSS" title="RSS feed"><a href="http://www.rlb3.com/atom.xml"></a></li>
          <li id="facebook" title="Facebook"><a href="http://www.facebook.com/rboone3"></a></li>
          <li id="twitter" title="Twitter"><a href="https://twitter.com/rlb3"></a></li>
        </ul>
      </li>
    </ul><!-- End of Get in touch -->
  </div><!-- End of Middle content -->
  <div id="bottom-content">&nbsp;</div>
</div><!-- End of Main -->



<!-- Contact form  -->
<div style="display:none;">
  <div id="contact-div">
    <h2>Contact Me</h2>
    <p class="contact_success"> <span class="success"> Your message has been sent successfully, we will contact you as soon as possible </span></p>
    <p class="contact_error"> <span class="error"> Your message was not sent because a server error has occurred.</span></p>
    <%= form_for @contact, :html => { :id => 'contact', :class => 'contact' } do |f| %>
    <div>
    </div>
    <div>
      <%= f.label :firstname, "First Name" %>
      <%= f.text_field :firstname, :class => 'i-text', :id => 'firstname' %>
    </div>
    <div style="margin-left:10px; margin-right:0;">
      <%= f.label :lastname, "Last Name" %>
      <%= f.text_field :lastname, :class => 'i-text' %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'i-text' %>
    </div>
    <div style="margin-left:10px; margin-right:0;">
      <%= f.label :phone %>
      <%= f.text_field :phone, :class => 'i-text' %>
    </div>
    <p>
      <%= f.label :message %>
      <%= f.text_area :message %>
      <%= f.submit "Send Contact", :id => 'send', :class => 'i-submit' %>
    </p>
    <div id="loading"> Sending Message ...</div>
    <% end %>
  </div>
</div>
